<%-include('./header')%>

<div class="container">
    <h1>Add New Product</h1>
    <form action="/addproducttodb" method="post">
        <input type="text" name="name" id="name">
        <input type="number" name="price" id="price">
        <input type="file" name="image" id="">
        <button type="submit">Add Product</button>
    </form>
</div>
    


<%-include('./footer')%>