<%-include('./header')%>

      <!-- Body start -->
      <div class="container">
        <form action="" method="post">
          <input type="text" name="name" id="" placeholder="Name">
          <input type="email" name="email" id="" placeholder="Email">
          <textarea name="message" id="" cols="30" rows="4" placeholder="Write your quary or suggestions here"></textarea>
        </form>
      </div>
    

      <%-include('./footer')%>